<h1>Detalhes</h1>
<div class="card col-8">
  <div class="card-body">
    <h5 class="card-title">{{detalhes.produto}}</h5>
    <strong>{{detalhes.preco}}</strong>
    <p class="card-text">{{detalhes.descricao}}</p>
  </div>
</div>