<h1>Bem vindo a home</h1>

<a 
  href="/lista" 
  class="mt-4 mb-4 d-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mt-4 d-block"
>
  Ir para página de produtos
</a>