<h1 class="text-danger mt-4 mb-4 mb-4 fs-4 text">Listas bem vindo!</h1>

<a 
  href="/" 
  class="mt-4 mb-4 d-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mt-4 d-block"
>
  Voltar para a home
</a>

<table class="table table-striped border">
  <tr>
    <th>Id</th>
    <th>Produto</th>
    <th>Preço</th>
    <th>Descrição</th>
  </tr>
  {{#each lista}}
  <tr>
    <td>#{{this.id}}</td>
    <td>{{this.produto}}</td>
    <td>{{this.preco}}</td>
    <td>{{this.descricao}}</td>
  </tr>
  {{/each}}
</table>